div.left {
    margin-left: 350px;
    margin-right: 50px;
}

nav#menu h3, nav#menu h4{
    margin-bottom: 12px;
}

nav#menu select {
    color: black; 
    background-color: white;
    height: 40px; 
    width: 260px;
}
nav#menu input{
    color: black;
    background-color: white;
    width: 260px;
}

nav#menu input[type="text"]{
    height: 40px;
}

nav#menu input[type="button"]{
    margin-top: 20px;
}

body {
    margin-left: 30px;
}