div.left {
    margin-left: 350px;
    margin-right: 50px;
}

nav#menu select {
    height: 40px; 
    color: black; 
    background-color: white;
}
nav#menu input{
    color: black;
    background-color: white;
    width: 250px;
}

nav#menu form input[type="button"]{
    margin-top: 20px;
}

table#schedule {
    margin: 20px; 
}

body {
    margin-left: 30px;
}